{% extends 'base/base.twig' %}
{% block content %}

    <div class="col-xs-12 col-sm-12 col-md-3">
        Test
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
        <div class="row">
            <h2>Upcoming meetup</h2>
            <div class="col-xs-12 col-sm-12 col-md-6">
                {{ meetup['description'] }}
            </div>
            <div id="map" class="map-container col-xs-6 col-md-5"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            generateMap('map', {{ meetup['venue']['lat'] }}, {{ meetup['venue']['lon'] }});
        });
    </script>
{% endblock %}
